@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
	background-color: #ffffff;
}

h1, h2 {
	font-family: 'Montserrat', serif;
	font-size: 45px;
	color: black;
	text-align: center;
	font-weight: "700";
}

h2 { 
	font-size: 24px;
	padding-bottom: 10px
 }

p {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	font-weight: "400";
}

li {
	color: black;
	display: inline;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	padding: 20px;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#about {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

#thumbnails {
	background-color: #FFB7CF;
	border: 1px black solid;
 	padding: 20px;
}
 
 #row {
 	background-color: violet;
 	border: 1px black solid;
 	padding: 30px;
 	float: left;
}

 .photo {
 	background-image: no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
 
 .clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.wrapper {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}

.name {
	padding: 2%;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}

