
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	font-size: 16px; /*1em = 16px*/
	text-align: center;
	position: relative;
}

header {
	background-color: #DFCFBE;
}

nav {
	text-align: center;
	margin: auto;
	padding: 1em 1em;
	background-color: #DFCFBE;
}

section {
	padding: 1.25em;
	background-color: #F5F0EB;
}

h1, h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	color: black;
	text-align: center;
	font-weight: "700";
}

h2 { 
	font-size: 1.5em;
	padding-bottom: .7em;
 }

a {
	color: black;
	padding: 5em;
	text-decoration: none;
}

p {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: .9em;
	line-height: 1.5;
	font-weight: "400";
}

#about {
	padding: 1.5em;
}

#thumbnails {
 	padding: 1.5em;
}
 
 #row {
 	padding: 2em;
 	float: left;
}

 .photo {
 	background-image: no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
 
 .clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: both;
	height: 0;
	font-size: 0;
}

.wrapper {
	margin: auto;
	padding: 0px;
	background-color: #DFCFBE;
}

.name {
	padding: 2em;
}

.navlinks{
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: black;
	text-transform: lowercase;
	text-decoration: none;
	padding-top: 1em;
	padding-right: 5em;
	padding-bottom: 1em;
	padding-left: 5em;


    border:none;
	/*background-color: red;*/
}
footer {
	padding: 1em;
}


